In [1]:
import pandas as pd
import os

In [3]:
#get NER output 
#NOTE: mergedNER is just the seperate files concatenated together "cat * > ../mergedNER.tsv"
NERdf = pd.read_csv("/shared/3/projects/newsDiffusion/data/interim/NEREmbedding/NERSplitsMerged.tsv", sep="\t", header=None)
NERdf.head(2)

   0                                                  1
0  0  [('PERSON', 'Dan Shehan’s'), ('WORK_OF_ART', '...
1  1  [('DATE', 'This past Sunday, March 29th'), ('E...

In [4]:
#GOOD!
NERdf.shape

(5081145, 2)

In [5]:
NERdf.columns=["key", "NamedEntities"]

In [6]:
newsDf = pd.read_csv("/shared/3/projects/newsDiffusion/data/processed/newsData/fullMergedNELAdata.tsv", sep="\t")
newsDf.head(2)

/opt/anaconda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (3,4,11,12,13,14,15,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,40,41,42) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,Unnamed: 0.1,key,local_id,sourcedomain_id,date,title,content,url,fips,...,ruralurban_cc,predrt_0,predrt_12,predrt_3,national,id,author,published,published_utc,collection_utc
0,0,0,0,andalusiastarnews--2020-04-04--Remember When: ...,andalusiastarnews-andalusiastarnews.com,2020-04-04,Remember When: Shehan’s Polio story,Dan Shehan’s “My Polio Story” is continued in ...,https://www.andalusiastarnews.com/2020/04/03/r...,1039.0,...,6,25.04,44.15,30.8,False,NaN,NaN,NaN,NaN,NaN
1,1,1,1,andalusiastarnews--2020-04-04--Veterans Founda...,andalusiastarnews-andalusiastarnews.com,2020-04-04,Veterans Foundation salutes Vietnam veterans,"This past Sunday, March 29th marked National V...",https://www.andalusiastarnews.com/2020/04/03/v...,1039.0,...,6,25.04,44.15,30.8,False,NaN,NaN,NaN,NaN,NaN

In [9]:
merged = pd.merge(newsDf, NERdf, how = "inner", on="key")

In [14]:
merged.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'key', 'local_id', 'sourcedomain_id',
       'date', 'title', 'content', 'url', 'fips', 'source', 'description',
       'onlinesince', 'rank', 'state', 'city', 'lon', 'lat', 'county',
       'total_population', 'white_pct', 'black_pct', 'hispanic_pct',
       'nonwhite_pct', 'foreignborn_pct', 'female_pct', 'age29andunder_pct',
       'age65andolder_pct', 'median_hh_inc', 'clf_unemploy_pct', 'lesshs_pct',
       'lesscollege_pct', 'lesshs_whites_pct', 'lesscollege_whites_pct',
       'rural_pct', 'ruralurban_cc', 'predrt_0', 'predrt_12', 'predrt_3',
       'national', 'id', 'author', 'published', 'published_utc',
       'collection_utc', 'NamedEntities'],
      dtype='object')

In [17]:
print(merged.shape)
merged = merged.drop(columns=["Unnamed: 0", "Unnamed: 0.1"])

(5081145, 46)

In [18]:
import csv
merged.to_csv("/shared/3/projects/newsDiffusion/data/processed/newsData/fullDataWithNER.tsv", sep="\t", quoting=csv.QUOTE_NONNUMERIC)