In [1]:
import pandas as pd
import os

In [2]:
outlets = pd.read_csv("/shared/3/projects/benlitterer/localNews/NELAdata/CSVs/outlets.csv")
articles = pd.read_csv("/shared/3/projects/benlitterer/localNews/NELAdata/CSVs/articles.csv")
demographics = pd.read_csv("/shared/3/projects/benlitterer/localNews/NELAdata/CSVs/demographics.csv")
risks = pd.read_csv("/shared/3/projects/benlitterer/localNews/NELAdata/CSVs/risks.csv")

## We can merge demographic, county level information onto outlets with "fips"
"We obtain the Federal Information Processing Standard code (FIPS) for each county, and use the FIPS code to map outlets to the county-level datasets." -NELA-Local

In [3]:
outletDem = pd.merge(outlets, demographics, how = "left", on="fips")

In [4]:
print("rows: " + str(len(outletDem)))
outletDem.columns

rows: 313

Index(['sourcedomain_id', 'fips', 'source', 'description', 'onlinesince',
       'rank', 'state', 'city', 'url', 'lon', 'lat', 'county',
       'total_population', 'white_pct', 'black_pct', 'hispanic_pct',
       'nonwhite_pct', 'foreignborn_pct', 'female_pct', 'age29andunder_pct',
       'age65andolder_pct', 'median_hh_inc', 'clf_unemploy_pct', 'lesshs_pct',
       'lesscollege_pct', 'lesshs_whites_pct', 'lesscollege_whites_pct',
       'rural_pct', 'ruralurban_cc'],
      dtype='object')

## Merge demographic-outlet info with risk information

In [5]:
outletDf = pd.merge(outletDem, risks, how="left", on="fips")

In [6]:
outletDf[["source", "state", "county", "rural_pct", "predrt_3"]]

,source,state,county,rural_pct,predrt_3
0,andalusiastarnews,Alabama,Covington,69.6517939891434,30.80
1,atmoreadvance,Alabama,Escambia,63.5115738928469,31.68
2,thebrewtonstandard,Alabama,Escambia,63.5115738928469,31.68
3,clantonadvertiser,Alabama,Chilton,86.7447242398552,26.97
4,gadsdenmessenger,Alabama,Etowah,37.4834817581155,27.54
...,...,...,...,...,...
308,southwashingtoncountybulletin,Wisconsin,Pierce,53.6483093200712,17.41
309,standardpress,Wisconsin,Racine,12.2779005977237,26.77
310,massachusettsnews,Massachusetts,Norfolk,1.240366698964,21.68
311,newhampshiregazette,New Hampshire,Rockingham,24.898127855892,16.56
312,everettindependent,Massachusetts,Middlesex,3.02770635060559,22.99

In [7]:
articles.head(1)

,article_id,sourcedomain_id,date,title,content,url
0,andalusiastarnews--2020-04-04--Remember When: ...,andalusiastarnews-andalusiastarnews.com,2020-04-04,Remember When: Shehan’s Polio story,Dan Shehan’s “My Polio Story” is continued in ...,https://www.andalusiastarnews.com/2020/04/03/r...

## We can merge outlet level information onto articles with "sourcedomain_id"

In [8]:
localDf = pd.merge(articles, outletDf, how="left", on="sourcedomain_id")

In [9]:
localDf.columns

Index(['article_id', 'sourcedomain_id', 'date', 'title', 'content', 'url_x',
       'fips', 'source', 'description', 'onlinesince', 'rank', 'state', 'city',
       'url_y', 'lon', 'lat', 'county', 'total_population', 'white_pct',
       'black_pct', 'hispanic_pct', 'nonwhite_pct', 'foreignborn_pct',
       'female_pct', 'age29andunder_pct', 'age65andolder_pct', 'median_hh_inc',
       'clf_unemploy_pct', 'lesshs_pct', 'lesscollege_pct',
       'lesshs_whites_pct', 'lesscollege_whites_pct', 'rural_pct',
       'ruralurban_cc', 'predrt_0', 'predrt_12', 'predrt_3'],
      dtype='object')

In [10]:
localDf.head(3)

,article_id,sourcedomain_id,date,title,content,url_x,fips,source,description,onlinesince,...,clf_unemploy_pct,lesshs_pct,lesscollege_pct,lesshs_whites_pct,lesscollege_whites_pct,rural_pct,ruralurban_cc,predrt_0,predrt_12,predrt_3
0,andalusiastarnews--2020-04-04--Remember When: ...,andalusiastarnews-andalusiastarnews.com,2020-04-04,Remember When: Shehan’s Polio story,Dan Shehan’s “My Polio Story” is continued in ...,https://www.andalusiastarnews.com/2020/04/03/r...,1039,andalusiastarnews,"Serves Covington County, located in Andalusia....",15-Oct-1998,...,10.6594902251918,19.0661331722784,85.0785142684584,17.9734248504048,83.8085181274199,69.6517939891434,6,25.04,44.15,30.8
1,andalusiastarnews--2020-04-04--Veterans Founda...,andalusiastarnews-andalusiastarnews.com,2020-04-04,Veterans Foundation salutes Vietnam veterans,"This past Sunday, March 29th marked National V...",https://www.andalusiastarnews.com/2020/04/03/v...,1039,andalusiastarnews,"Serves Covington County, located in Andalusia....",15-Oct-1998,...,10.6594902251918,19.0661331722784,85.0785142684584,17.9734248504048,83.8085181274199,69.6517939891434,6,25.04,44.15,30.8
2,andalusiastarnews--2020-04-04--Governor issues...,andalusiastarnews-andalusiastarnews.com,2020-04-04,Governor issues stay at home order,Governor Kay Ivey announced that a stay at hom...,https://www.andalusiastarnews.com/2020/04/03/g...,1039,andalusiastarnews,"Serves Covington County, located in Andalusia....",15-Oct-1998,...,10.6594902251918,19.0661331722784,85.0785142684584,17.9734248504048,83.8085181274199,69.6517939891434,6,25.04,44.15,30.8

In [11]:
nelaGTLocation = "/shared/3/projects/benlitterer/localNews/NELA-gt-2020/nela-gt-2020/newsdata"
testPull = pd.read_json(nelaGTLocation + "/" + "foxnews.json")
testPull.head(3)

,id,date,source,title,content,author,url,published,published_utc,collection_utc
0,foxnews--2020-04-15--Trump says he may forcefu...,2020-04-15,foxnews,"Trump says he may forcefully adjourn Congress,...",Get all the latest news on coronavirus and mor...,Nick Givas,http://feeds.foxnews.com/~r/foxnews/politics/~...,"Wed, 15 Apr 2020 23:39:48 GMT",1587008388,1586994978
1,foxnews--2020-04-15--Sources believe coronavir...,2020-04-15,foxnews,Sources believe coronavirus originated in Wuha...,Get all the latest news on coronavirus and mor...,Gregg Re,http://feeds.foxnews.com/~r/foxnews/politics/~...,"Wed, 15 Apr 2020 23:07:06 GMT",1587006426,1586994979
2,foxnews--2020-04-15--Trump argues US has ‘pass...,2020-04-15,foxnews,Trump argues US has ‘passed the peak on new ca...,Get all the latest news on coronavirus and mor...,Andrew O'Reilly,http://feeds.foxnews.com/~r/foxnews/politics/~...,"Wed, 15 Apr 2020 22:17:45 GMT",1587003465,1586994978

In [12]:
testPull["content"][0]

"Get all the latest news on coronavirus and more delivered daily to your inbox .\nSign up here .\nPresident Trump announced during a White House address Wednesday that he is considering adjoining Congress and using their absence to make political appointments .\n`` If the House will not agree to that adjournment I will exercise my constitutional authority to adjourn both chambers of Congress , '' he said .\nThe president claimed his administration is understaffed and blamed congressional Democrats for holding up his confirmations and stonewalling his agenda .\nTrump added that he has the constitutional authority to @ @ @ @ @ @ @ failing the American people and shirking their responsibilities as elected leaders .\nCUOMO SAYS NEW YORK GIVING AWAY SOME VENTILATORS , CORONAVIRUS OUTBREAK 'STABILIZED ' THERE '' The current practice of leaving town while conducting phony , pro forma sessions is a dereliction of duty that the American people can not afford during this crisis , '' he said .\n`` It is a scam , what they do . ''\nTrump also declared that the country has `` passed the peak '' in the number of cases for COVID-19 , and said @ @ @ @ @ @ @ shared with the public on Thursday .\n“ The battle continues but the data indicates that we have passed the peak , ” he said .\n“ We think some states may be able to open before May 1 , ” Trump added .\n“ We want to get our country open again.\n” CLICK HERE FOR THE FOX NEWS APP As of Wednesday , there were over 630,000 confirmed cases of the virus in the United States and just under 26,000 deaths ."

## Get national level (NELA-gt) data

In [13]:
nelaGTLocation = "/shared/3/projects/benlitterer/localNews/NELA-gt-2020/nela-gt-2020/newsdata"

outletDfList = []
i = 0 
for outletName in os.listdir(nelaGTLocation): 
    if i % 50 == 0: 
        print(i)
    i+= 1 
    
    #get dataframe for this outlet, add to list 
    outletPath = nelaGTLocation + "/" + outletName
    outletDf = pd.read_json(outletPath)
    outletDfList.append(outletDf)

#resetting the index prevents us from getting a weird nested index later 
gtDf = pd.concat(outletDfList).reset_index(drop=True)

0
50
100
150
200
250
300
350
400
450
500

In [14]:
gtDf.columns

Index(['id', 'date', 'source', 'title', 'content', 'author', 'url',
       'published', 'published_utc', 'collection_utc'],
      dtype='object')

In [15]:
localDf.columns

Index(['article_id', 'sourcedomain_id', 'date', 'title', 'content', 'url_x',
       'fips', 'source', 'description', 'onlinesince', 'rank', 'state', 'city',
       'url_y', 'lon', 'lat', 'county', 'total_population', 'white_pct',
       'black_pct', 'hispanic_pct', 'nonwhite_pct', 'foreignborn_pct',
       'female_pct', 'age29andunder_pct', 'age65andolder_pct', 'median_hh_inc',
       'clf_unemploy_pct', 'lesshs_pct', 'lesscollege_pct',
       'lesshs_whites_pct', 'lesscollege_whites_pct', 'rural_pct',
       'ruralurban_cc', 'predrt_0', 'predrt_12', 'predrt_3'],
      dtype='object')

In [16]:
#shows that we can stick with url_x. url_y appears to have a bunch of NaN's 
print(len(localDf[["url_x"]]))
print(len(localDf[["url_x"]].dropna()))

1445509
1445509

In [17]:
"""
Make column names align where possible, not align when it could be confusing 
gt data:
-id -> gt_id 

local data: 
-url_x -> url 
drop url_y 
""" 

gtDf = gtDf.rename({"id":"gt_id"})
localDf = localDf.rename({"url_x":"url", "article_id":"local_id"}).drop(columns=["url_y"])

## Merge national data and local data

In [18]:
#create 'national' column 
localDf["national"] = [False for i in range(0, len(localDf))]
gtDf["national"] = [True for i in range(0, len(gtDf))]

#merge 
totalDf = pd.concat([localDf, gtDf]).reset_index(drop=True)

In [19]:
totalDf.head(3)

,article_id,sourcedomain_id,date,title,content,url_x,fips,source,description,onlinesince,...,predrt_0,predrt_12,predrt_3,national,id,author,url,published,published_utc,collection_utc
0,andalusiastarnews--2020-04-04--Remember When: ...,andalusiastarnews-andalusiastarnews.com,2020-04-04,Remember When: Shehan’s Polio story,Dan Shehan’s “My Polio Story” is continued in ...,https://www.andalusiastarnews.com/2020/04/03/r...,1039.0,andalusiastarnews,"Serves Covington County, located in Andalusia....",15-Oct-1998,...,25.04,44.15,30.8,False,NaN,NaN,NaN,NaN,NaN,NaN
1,andalusiastarnews--2020-04-04--Veterans Founda...,andalusiastarnews-andalusiastarnews.com,2020-04-04,Veterans Foundation salutes Vietnam veterans,"This past Sunday, March 29th marked National V...",https://www.andalusiastarnews.com/2020/04/03/v...,1039.0,andalusiastarnews,"Serves Covington County, located in Andalusia....",15-Oct-1998,...,25.04,44.15,30.8,False,NaN,NaN,NaN,NaN,NaN,NaN
2,andalusiastarnews--2020-04-04--Governor issues...,andalusiastarnews-andalusiastarnews.com,2020-04-04,Governor issues stay at home order,Governor Kay Ivey announced that a stay at hom...,https://www.andalusiastarnews.com/2020/04/03/g...,1039.0,andalusiastarnews,"Serves Covington County, located in Andalusia....",15-Oct-1998,...,25.04,44.15,30.8,False,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
totalDf.tail(3)

,article_id,sourcedomain_id,date,title,content,url_x,fips,source,description,onlinesince,...,predrt_0,predrt_12,predrt_3,national,id,author,url,published,published_utc,collection_utc
3224633,NaN,NaN,2020-02-04 00:00:00,Sanders campaign says internal caucus numbers ...,Democratic Party unable to collect and release...,NaN,NaN,occupyyourself,NaN,NaN,...,NaN,NaN,NaN,True,occupyyourself--2020-02-04--Sanders campaign s...,#occupyyourself,https://occupyyourself.org/sanders-campaign-sa...,"Tue, 04 Feb 2020 08:33:07 +0000",1.580823e+09,1.586996e+09
3224634,NaN,NaN,2020-01-30 00:00:00,Sanders Unveils Bill to Combat Corporate Pollu...,The Prevent Future American Sickness ( PFAS ) ...,NaN,NaN,occupyyourself,NaN,NaN,...,NaN,NaN,NaN,True,occupyyourself--2020-01-30--Sanders Unveils Bi...,#occupyyourself,https://occupyyourself.org/sanders-unveils-bil...,"Thu, 30 Jan 2020 00:42:57 +0000",1.580363e+09,1.586996e+09
3224635,NaN,NaN,2020-01-04 00:00:00,#occupyyourself LIVE (OFFLINE),We are not online at the moment … please come ...,NaN,NaN,occupyyourself,NaN,NaN,...,NaN,NaN,NaN,True,occupyyourself--2020-01-04--#occupyyourself LI...,#occupyyourself,https://occupyyourself.org/live/,"Sat, 04 Jan 2020 09:53:19 +0000",1.578150e+09,1.586996e+09

## Add Ownership Data

In [36]:
ownerPath = "/shared/3/projects/benlitterer/localNews/UNCNewspaperDatabase_12_17_20.xlsx"
ownerDf = pd.read_excel(ownerPath)

def lowerNoSpace(inStr): 
    return inStr.replace(" ", "").lower()

ownerDf["newspaper_name"] = ownerDf["newspaper_name"].apply(lowerNoSpace)
ownerSmall = ownerDf[["newspaper_name", "owner_name"]].rename(columns={"newspaper_name":"source"})
ownerSmall

                                       source                      owner_name
0                              anchoragepress             Wick Communications
1     thebristolbaytimes/dutchharborfisherman      Ryan Binkley & Jason Evans
2                            thearcticsounder      Ryan Binkley & Jason Evans
3                          anchoragedailynews      Ryan Binkley & Jason Evans
4                             thecordovatimes          Native Village of Eyak
...                                       ...                             ...
6731             thermopolisindependentrecord  Thermopolis Independent Record
6732                       torringtontelegram          News Media Corporation
6733                      westoncountygazette                  LeVasseur Lisa
6734              plattecountyrecord-timesthe          News Media Corporation
6735                 northernwyomingdailynews            Stevenson Newspapers

[6736 rows x 2 columns]

In [40]:
#Attempt to merge in the ownership data 
print(totalDf.shape)
merged = pd.merge(totalDf, ownerSmall, how="left", on="source")
print(merged.shape)

(3224636, 43)
(3430428, 44)

### Unfortunately we only have ownership information for 131 rows of the data.  Of the 131 rows, we have 69 different ownership companies 
- do we just treat each one we don't have an owner for as its own owner??

In [63]:
import numpy as np
#merged[merged["owner_name"] != np.nan].shape
sources = merged[["source", "owner_name", "national"]].groupby("source").first()
sources["owner_name"] = sources["owner_name"].astype(str)
ownerGrouped = sources[(sources["national"] == False) & (sources["owner_name"]  != "None")]

In [64]:
ownerGrouped.groupby("owner_name").first()

                           national
owner_name
AIM Media                     False
Adams Publishing Group        False
Addison Press Inc             False
Advance Publications          False
Albuquerque Publishing Co     False
...                             ...
What's Happening Inc          False
Wherry, Greg and Steve        False
Wilkerson Publishing Inc      False
Wise County Messenger         False
Yellow Springs News Inc.      False

[69 rows x 1 columns]

In [66]:
ownerDf

,state,newspaper_id,newspaper_name,frequency,city,county,owner_id,owner_name,owner_type,total_circulation,days_published
0,AK,50003,anchoragepress,W,Anchorage,Anchorage Municipality,5813.0,Wick Communications,Private,20000.0,1
1,AK,18776,thebristolbaytimes/dutchharborfisherman,W,Anchorage,Anchorage Municipality,6028.0,Ryan Binkley & Jason Evans,Private,NaN,1
2,AK,18654,thearcticsounder,W,Anchorage,Anchorage Municipality,6028.0,Ryan Binkley & Jason Evans,Private,2000.0,1
3,AK,10092,anchoragedailynews,D,Anchorage,Anchorage Municipality,6028.0,Ryan Binkley & Jason Evans,Private,33301.0,7
4,AK,18943,thecordovatimes,W,Cordova,Valdez-Cordova,6045.0,Native Village of Eyak,Private,969.0,1
...,...,...,...,...,...,...,...,...,...,...,...
6731,WY,20429,thermopolisindependentrecord,W,Thermopolis,Hot Springs,5371.0,Thermopolis Independent Record,NaN,2280.0,1
6732,WY,20204,torringtontelegram,W,Torrington,Goshen,4121.0,News Media Corporation,Private,2670.0,2
6733,WY,20836,westoncountygazette,W,Upton,Weston,3512.0,LeVasseur Lisa,NaN,1500.0,1
6734,WY,21037,plattecountyrecord-timesthe,W,Wheatland,Platte,4121.0,News Media Corporation,Private,1900.0,1
6735,WY,12600,northernwyomingdailynews,W,Worland,Washakie,5186.0,Stevenson Newspapers,NaN,3468.0,5

## Write the dataframe for further processing

In [66]:
outPath = "/shared/3/projects/benlitterer/localNews/mergedArticles.tsv"
totalDf.to_csv(outPath, sep="\t")